<div class="container chat-bg mw-100">
  <div class="row row-chat row-breakpoint">
    <div class="col w-100">
      <app-online-users [onlineUsers]="onlineUsers"></app-online-users>
    </div>

    <div
      class="col-6 d-flex flex-column align-items-center justify-content-between chat-col-breakpoint"
    >
      <div class="d-flex flex-column align-items-center">
        <h3>
          Welcome <strong>{{ member.member.clientData.username }}</strong>
        </h3>
        <h5>You are currently in room:</h5>
        <h5>{{ room.name }}</h5>
      </div>

      <app-messages [messages]="messages" class="w-100"></app-messages>
      <app-input [onSendMessage]="onSendMessage" class="w-100"></app-input>
    </div>

    <div class="col d-flex flex-column align-items-center">
      <app-rooms class="h-100 w-100"></app-rooms>
      <!-- <rooms></rooms>
      <logout></logout> -->
    </div>
  </div>
</div>
