<div class="container background-login fluid mw-100">
  <div class="row vh-100 justify-content-center row">
    <div class="col align-self-center md-6">
      <div class="card px-5 py-5 bg-transparent loginCard">
        <form class="row justify-content-center" (ngSubmit)="onSubmit()">
          <h2 class="mb-4 text-center">Enter your user name</h2>

          <div class="row mb-4 text-center">
            <label for="name"> Name </label>
            <input
              id="name"
              type="text"
              class="form-control text-center"
              placeholder="User name"
              [(ngModel)]="inputLoginValue"
              name="form"
            />
          </div>

          <!-- trenutno samo isprobavam kako router radi na onclick btn ali to triba spojit sa stanjem i naprvit logiku -->
          <button
            routerLink="/chat"
            type="submit"
            class="btn btn-dark btn-lg btn-block"
          >
            Login
          </button>
          <h4>Choose avatar (optional) :</h4>
          <app-avatars></app-avatars>
        </form>
      </div>
    </div>
  </div>
</div>
